include inc/head.pug

// Mixins
mixin parseIndex(obj)
  ul
    each val in obj 
      li.list-group-item 
        if val.children.length > 0
          i.bi.bi-folder-fill
        else
          i.bi.bi-archive-fill
        = " " + val.path + " - " + val.name
        a(href="/item/add?parent=" + val.uuid) 
          i.bi.bi-plus-circle
        a(href="/edit?parent=" + val.uuid) 
          i.bi.bi-pencil-fill
        i.bi.bi-trash3-fill(
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modal" + val.uuid
        )
      .modal.fade(
        id="modal" + val.uuid
        tabindex="-1"
        aria-labelledby= val.uuid + "Label"
        aria-hidden="true"
      )
        .modal-dialog
          .modal-content
            .modal-header.text-bg-danger
              h1.modal-title.fs-5(
                id=val.uuid + "Label"
              ) Delete Item
              button.btn-close(
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              )
            .modal-body
              p. 
                Are you sure you want to delete this item?
                This will also delete all its children!
            .modal-footer
              button.btn.btn-secondary(
                type="button"
                data-bs-dismiss="modal"
              ) Cancel
              form(
                method="post"
                action="/item/delete"
              )
                input(
                  type="hidden"
                  name="delete"
                  value=val.uuid
                )
                button.btn.btn-danger(
                  type="submit"
                ) Delete
      if val.children.length > 0
        +parseIndex(val.children)





body 
  include inc/nav.pug
  if index.length > 0
    .container
      +parseIndex(index)
  else
    a(href="/item/add?parent=root") Add Item
